<div class="container pt-5">
  <div class="row">
    <summaryanonym *ngIf="request" [request]="request"></summaryanonym>
  </div>
  <div class="row pt-3">
    <form #heroForm="ngForm">
        <div class="container" *ngIf="message">
              <label class="col">{{message}}</label>
        </div>

        <button [disabled]='!actionsEnabled' class="btn btn-success" (click)='cancel()'>Termin Stornieren</button>
        <a class="btn btn-link" href="http://www.connection.koeln">zurück zu Connection</a>
      </form>
    </div>
</div>
