<div class="container pt-5">
  <div class="row">
      <h2>Feedback schicken</h2>
  </div>
  <div class="row">
    <summaryanonym class="w-75" *ngIf="request" [request]="request"></summaryanonym>
  </div>
  <div class="form-group row pt-3">
    <form #heroForm="ngForm" class="">
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{successMessage}}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>

        <div class="form-group" [hidden]="false">
          <label for="comment" class="col-2 col-form-label">Kommentar</label>
          <div class="col-10">
            <textarea id="comment" [required]="false" class="form-control" placeholder=""
              [(ngModel)]="commentField" name="comment" style="height: 100px;"></textarea>
          </div>
        </div>

      <button [disabled]='!actionsEnabled' class="btn btn-success" (click)='positive()'>Positiv</button>
      <button [disabled]='!actionsEnabled' class="btn btn-outline-danger" (click)='negative()'>Negativ</button>
      <a class="btn btn-link" href="http://www.connection.koeln">zurück zu Connection</a>
    </form>
  </div>
</div>
