<div class="container pt-5">
  <div class="form-group row">
    <summaryanonym *ngIf="request" [request]="request"></summaryanonym>

    <form #heroForm="ngForm">
        <div class="container" *ngIf="message">
              <label class="col-sm-2 col-form-label">{{message}}</label>
        </div>

        <button [disabled]='!actionsEnabled' class="btn btn-success" (click)='accept()'>Termin übernehmen</button>
        <button [disabled]='!actionsEnabled' class="btn btn-warning" (click)='decline()'>Absagen</button>
    </form>
  </div>
</div>
